/** @format */

.contact-form {
 display: flex;
 margin: auto;
 margin-top: 10px;
 margin-bottom: 30px;
 flex-direction: column;
 padding: 20px;
 width: 380px;
 border-radius: 10px;
 background-color: rgb(169, 92, 16);
}

.contact-form label {
 font-size: 18px;
 font-weight: 400;
 color: white;
 margin: 10px 5px;
}
.contact-form input {
 padding: 5px;
 border-radius: 5px;
 background-color: rgba(210, 180, 140, 0.585);
 font-size: 18px;
 color: white;
 outline: transparent;
 border: 5px solid transparent;
}

.contact-form input:focus,
textarea:focus {
 border: 3px solid black;
}
textarea {
 resize: none;
 margin-top: 5px;
 height: 100px;
 background-color: rgba(210, 180, 140, 0.585);
 font-size: 18px;
 color: white;
 padding: 5px;
 border: 5px solid transparent;
}

.contact-form button {
 padding: 5px;
 border-radius: 5px;
 background-color: rgba(210, 180, 140, 0.585);
 font-size: 18px;
 color: white;
 font-weight: 600;
 width: 50%;
 margin: auto;
 margin-top: 20px;
 outline: none;
 cursor: pointer;
 border: 5px solid transparent;
}

.contact-form button:hover {
 background-color: rgba(97, 60, 23, 0.5);
}

/* input erros */

input.invalid {
 background-color: rgba(255, 0, 0, 0.763);
}
input:focus.invalid {
 outline: none;
}

/* error message */
.error-message {
 width: 100%;

 font-size: 18px;
 font-weight: 800;
 color: rgb(246, 36, 36);
 background-color: rgb(0, 0, 0);
 border-radius: 5px;
 box-sizing: border-box;
}

.error-message.active {
 padding: 6px;
}
.social-icons {
 display: flex;
 justify-content: center;
 align-items: center;
 width: auto;
}
.social-icons ul {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.social-icons li {
 margin: auto;
 font-size: 25px;
 padding: 10px 20px;
}
.social-icons i {
 color: rgb(221, 171, 105);
 cursor: pointer;
}
footer,
.footer-content {
 display: flex;
 flex-direction: column;
 margin-top: auto;
 background-color: rgb(169, 92, 16);
 border-radius: 2px;
 padding-left: 20px;
 color: white;
 font-weight: 200;
 padding-bottom: 30px;
}
.footer-content h2 {
 display: flex;
 justify-content: flex-start;
 padding-top: 20px;
 margin-bottom: 10px;
 color: white;
 font-size: 20px;
 font-weight: bold;
}
footer a {
 color: white;
}
/* common breakpoints are: 320-480, 481-768, 769-1024, 1025,1200px */

@media (min-width: 320px) {
 body h1 {
  font-size: 15px;
 }

 h2 {
  font-size: 15px;
 }
 .mobile-menu,
    i
    /* #menu-overlay */ {
  display: block;
  padding: 5px;
 }
 .header-nav {
  display: none;
 }

 .cortado-details summary {
  font-size: 14px;
  width: 100%;
 }
 .cortado-details p {
  width: 100%;
 }
}
@media (min-width: 768px) {
 .header-nav {
  display: block;
 }
 .mobile-menu {
  display: none;
 }
 main h2 {
  font-size: 30px;
 }
 .coffee-images {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 30px;
  width: 700px;
  margin-top: 50px;
 }
 .cortado-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
 }
 .cortado-details summary {
  font-size: 18px;
 }
 .cortado-details p {
  font-size: 16px;
 }
 iframe {
  width: 350px;
  padding: 40px;
 }
 .social-icons i {
  font-size: 35px;
 }
 footer .footer-content {
  display: flex;
  justify-content: flex-srart;
  flex-direction: row;
  gap: 18rem;
 }
}

@media (min-width: 1024px) {
 .mobile-nav {
  display: none;
 }
 h2 {
  font-size: 30px;
 }
 .header-nav li {
  font-size: 20px;
 }
 .coffee-images {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 40px;
  width: 800px;
  margin-top: 50px;
 }
 .cortado-details {
  width: 500px;
 }
 .cortado-details p {
  font-size: 20px;
 }
 .cortado-details summary {
  font-size: 20px;
 }
 iframe {
  justify-content: space-evenly;
  width: 350px;
 }
 footer .footer-content {
  display: flex;
  justify-content: flex-srart;
  flex-direction: row;
  gap: 18rem;
 }
}
