/** @format */

/* coffee images slideshow */
coffee-picture-slideshow {
 width: 50vw;
}
.slider {
 display: grid;
 justify-content: center;
 height: 500px;
 position: relative;
}

.slider img {
 border-radius: 15px;
 height: 450px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 border: 2px solid white;
}

.slider img:first-child {
 z-index: index 1;
}

.slider img:nth-child(2) {
 z-index: 0;
}

.navigation-button {
 text-align: center;
 position: relative;
}
.dot {
 cursor: pointer;
 height: 15px;
 width: 15px;
 margin: 0 2px;
 background-color: #bbb;
 border-radius: 50%;
 display: inline-block;
}
.active,
.dot:hover {
 background-color: rgba(169, 93, 16, 0.872);
}
.coffee-images {
 margin: auto;
 margin-bottom: 15px;
 width: 250px;
}
.coffee-images img {
 border-radius: 15px;
 border: 1px solid black;
 margin-top: 10px;
}

.cortado-section,
iframe {
 display: flex;
 justify-content: center;
 margin: auto;
 flex-direction: column;
 padding-bottom: 10px;
 width: 400px;
 border-radius: 10px;
}
.cortado-details {
 padding: 10px 0;
 margin-bottom: 10px;
 font-size: 50px;
}
.cortado-details summary {
 font-size: 18px;
 font-weight: bold;
 display: flex;
 justify-content: center;
 cursor: pointer;
 color: rgba(169, 93, 16, 0.872);
}
.cortado-details p {
 font-size: 15px;
 color: white;
 padding: 6px;
 width: 85%;
 margin: auto;
}
.coffee-facts {
 display: flex;
 justify-content: center;
 flex-direction: column;
 margin-bottom: 20px;
}
.coffee-facts h1 {
 background: none;
 margin: auto;
 font-size: 20px;
 font-weight: 400;
 /* padding: 10px; */
 color: rgb(177, 97, 17);
}

.coffee-facts p {
 margin: auto;
 margin-bottom: 20px;
 font-weight: 400;
 width: 50%;
 color: white;
}

.coffee-facts button {
 margin-top: 25px;
 padding: 5px;
 width: 150px;
 margin: auto;
 background-color: rgb(200, 128, 55);
 border-radius: 5px;
 color: white;
 font-size: 15px;
 cursor: pointer;
}

.coffee-facts button:hover {
 color: rgb(177, 97, 17);
}

/* common breakpoints are: 320-480, 481-768, 769-1024, 1025,1200px */

@media (min-width: 320px) {
 h2 {
  font-size: 18px;
 }
}
@media (min-width: 768px) {
 h2 {
  font-size: 20px;
 }
 .coffee-images {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 30px;
  width: 700px;
  margin-top: 50px;
 }
 .cortado-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: auto;
  padding-left: 10px;
 }
 .cortado-details summary {
  font-size: 18px;
  width: 40vw;
  padding-left: 10px;
 }
 .cortado-details p {
  font-size: 18px;
  margin: auto;
 }
 iframe {
  width: 450px;
  height: 350px;
  padding: 40px;
  border-radius: 50px;
 }
 .coffee-facts p {
  font-weight: 400;
  font-size: 20px;
  color: white;
  margin: auto;
  margin-bottom: 20px;
 }
}

@media (min-width: 1024px) {
 .coffee-images {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 40px;
  width: 800px;
  margin-top: 50px;
 }

 .cortado-section {
  margin: auto;
  max-width: 50vw;
 }
 .cortado-details summary {
  font-size: 22px;
  width: 30vw;
 }
 .cortado-details p {
  font-size: 20px;
 }

 iframe {
  justify-content: space-evenly;
  width: 500px;
 }
 .coffee-facts p {
  width: auto;
  margin: auto;
  margin-bottom: 20px;
 }
}
