/**
 * card
 *
 * @format
 */

.recipe-section {
 display: flex;
 justify-content: center;
 flex-direction: column;
 gap: 5rem;
 padding: 40px;
 font-size: 1px;
}

.coffee-recipe-card {
 background-color: rgb(147, 85, 24);
 margin-top: 60px;
 border-radius: 10px;
 display: flex;
 justify-content: center;
 flex-direction: column;
 height: fit-content;
 width: 100%;
}
.coffee-recipe-card img {
 width: 100%;
 position: relative;
 top: -90px;
 border-radius: 5px;
}
.coffee-recipe-card h3 {
 color: white;
 padding: 20px;
 position: relative;
 top: -70px;
 font-size: 25px;
}

.coffee-recipe-card p {
 padding: 15px 20px;
 position: relative;
 top: -60px;
 color: white;
 font-size: 18px;
 font-weight: 400;
}
.coffee-generator {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 15px;
}
#coffee-form {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 margin: 0 auto;
 width: min-content;
}

#coffee-form select {
 border: 2px solid rgb(147, 85, 24);
 color: rgb(178, 96, 14);
 background-color: inherit;
 padding: 8px;
 width: 250px;
 border-radius: 8px;
 font-size: 15px;
}

.coffee-generator label {
 color: rgb(147, 85, 24);
 font-size: 20px;
 margin: 5px;
}
#generate-coffee-button {
 margin: 10px auto;
 border-radius: 8px;
 background-color: rgba(169, 93, 16, 0.872);
 color: white;
 padding: 8px;
 font-size: 15px;
 width: 250px;
 outline: none;
 cursor: pointer;
 text-transform: uppercase;
 display: flex;
 justify-content: center;
}
#coffee-result {
 font-size: 12px;
}

/* medida queries */
@media (min-width: 768px) {
 .coffee-recipe-card {
  width: 70vw;
 }
 .coffee-recipe-card p {
  font-size: 20px;
  padding: 20px;
 }
 .coffee-recipe-card h3 {
  font-size: 25px;
 }
 .recipe-section {
  flex-direction: row;
  flex-wrap: wrap;
 }
 #coffee-result {
  font-size: 20px;
 }
}

@media (min-width: 1024px) {
 .coffee-recipe-card {
  max-width: 33%;
 }
 .coffee-recipe-card h3 {
  font-size: 25px;
 }
 .coffee-recipe-card p {
  font-size: 20px;
 }
}
